@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body {
    margin: 0;
    font-family: 'Hi Melody', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --font-HiMelody: 'Hi Melody';
}
